<ion-content>
     <!-- <app-header></app-header> --> 

     <ion-grid>
          <ion-row>
               <ion-col>
                    <ion-list>
                         <ion-item>
                              <p slot="start">001</p>
                              <ion-label>Bulbasaur</ion-label>
                         </ion-item>
                         <ion-item>
                              <p slot="start">002</p>
                              <ion-label>Ivysaur</ion-label>
                         </ion-item>
                         <ion-item>
                              <p slot="start">003</p>
                              <ion-label>Venasaur</ion-label>
                         </ion-item>
                         <ion-item>
                              <p slot="start">004</p>
                              <ion-label>Charmander</ion-label>
                         </ion-item>
                         <ion-item>
                              <p slot="start">005</p>
                              <ion-label>Charmeleon</ion-label>
                         </ion-item>
                         <ion-item>
                              <p slot="start">006</p>
                              <ion-label>
                                Charizard
                              </ion-label>
                              <ion-thumbnail slot="end">
                                <img src="assets/CharizardIcon.png">
                              </ion-thumbnail>
                            </ion-item>
                    </ion-list>
               </ion-col>
          </ion-row>
     </ion-grid>

</ion-content>