<ion-header [translucent]="true">
   <ion-grid class="headerStyle">
      <ion-row>
         <ion-col class="headerButts">
            <div class="searchButt"></div>
            <div class="miniButt logButt whiteText"></div>
            <div class="miniButt accountButt"></div>
            <div class="miniButt settingsButt whiteText"></div>
         </ion-col>
         <ion-col size="4"></ion-col>
      </ion-row>
   </ion-grid>
</ion-header>

<ion-content class="dexCover">
   <ion-grid>
      <ion-row>
         <ion-col class="ion-text-center">
            <h3 class="pokemonSolid titleCard">Sign Up</h3>
         </ion-col>
      </ion-row>
      <div class="centerStage loginBox">

         <ion-list lines="none" class="p-0">
            <form [formGroup]="signupForm">


               <ion-item class="inputs">
                  <ion-label position="floating">Email Address:</ion-label>
                  <ion-input formControlName="emailAddress" type="text" placeholder="BigProf@Pallettown.com"></ion-input>
               </ion-item>
               
               <ion-item class="inputs">
                  <ion-label position="floating">Password:</ion-label>
                  <ion-input #password formControlName="password" type="password" placeholder="DeliaKetchum"></ion-input>
               </ion-item>
               
               <ion-item class="inputs">
                  <ion-label position="floating">Confirm Password:</ion-label>
                  <ion-input #confirm formControlName="confirm" type="password" placeholder="DeliaKetchum"></ion-input>
               </ion-item>
            </form>
         </ion-list>
        

         <ion-row>
            <ion-col>
               <ion-button (click)="signupAttempt(password.value, confirm.value)" color='warning'>Create Account</ion-button>
            </ion-col>
         </ion-row>
      </div>
   </ion-grid>
</ion-content>