<ion-content [fullscreen]="true">
     <div id="container">
          <ion-grid class="px-0">
               <!-- <ion-row>
                    <ion-col>
                         <h1>
                              Steps until next Pokemon:
                         </h1>
                         <div class="stepCount">
                              <p class="countFont">100</p>
                         </div>
                    </ion-col>
               </ion-row> -->
               <!-- <div> -->
                    <app-wild-pokemon></app-wild-pokemon>
               <!-- </div> -->
          </ion-grid>
     </div>
</ion-content>