<ion-grid class="headerStyle">
      <ion-row>
            <ion-col class="headerButts">
                  <div class="searchButt">
                        <ion-icon name="search-outline"></ion-icon>
                  </div>
                  <div class="miniButt logButt whiteText">
                        <ion-icon name="book-outline"></ion-icon>
                  </div>
                  <div class="miniButt accountButt">
                        <ion-icon name="person-outline"></ion-icon>
                  </div>
                  <div class="miniButt settingsButt whiteText">
                        <ion-icon name="settings-outline"></ion-icon>
                  </div>
            </ion-col>
            <ion-col size="4">
                  <p>Pokedex</p>
            </ion-col>
      </ion-row>
</ion-grid>