<ion-row class="mt-5">
   <ion-col>
      <ion-list>
         <!-- <ion-item>
            <p slot="start">001</p>
            <ion-label>Bulbasaur</ion-label>
         </ion-item>
         <ion-item>
            <p slot="start">002</p>
            <ion-label>Ivysaur</ion-label>
         </ion-item>
         <ion-item>
            <p slot="start">003</p>
            <ion-label>Venasaur</ion-label>
         </ion-item>
         <ion-item>
            <p slot="start">004</p>
            <ion-label>Charmander</ion-label>
         </ion-item>
         <ion-item>
            <p slot="start">005</p>
            <ion-label>Charmeleon</ion-label>
         </ion-item>
         <ion-item>
            <p slot="start">006</p>
            <ion-label>
               Charizard
            </ion-label>
            <ion-thumbnail slot="end">
               <img src="assets/icon/NidoranFIcon.png">
            </ion-thumbnail>
         </ion-item> -->

         <ion-item *ngFor="let p of this.pokedexEntryList">
            <p slot="start">{{this.pokedexEntryList.dexNum}}</p>
            <ion-label>{{this.pokedexEntryList.pokemon}}</ion-label>
         </ion-item>

      </ion-list>
   </ion-col>
</ion-row>