/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "assets/styles/wickedcss.min.css";
@import "assets/styles/animate.css";

@font-face{
   font-family: pokemonSolid;
   src: url(assets/font/PokemonSolid.ttf);
}

.pokemonSolid{
   font-family: pokemonSolid;
}

.no-scroll .scroll-content{
   overflow: hidden;
}

.centerStage {
   text-align: center;
 
   position: absolute;
   left: 0;
   right: 0;
   top: 55%;
   transform: translateY(-50%);
}

.headerStyle{ 
   background-color: red;
   padding-top: 1rem;
   border-bottom: 5px solid;
   border-bottom-color: maroon;
}

.headerButts{
     display: flex;
     padding-left: 0px;
}

.searchButt{
     background-color: #4182c4;
     border: 5px solid #aba7aa;
     border-radius: 100%;
     height: 3rem;
     width: 3rem;
     margin-right: 6px;
     display: flex;
     justify-content: center;
     align-items: center;
     
   }

.miniButt{
     border: 1px solid black;
     border-radius: 100%;
     height: 1.5rem;
     width: 1.5rem;
     margin-right: 3px;
     margin-left: 3px;
     display: flex;
     justify-content: center;
     align-items: center;
}

.logButt{
     background-color: #9c2532;
}

.accountButt{
     background-color: yellow;
}

.settingsButt{
     background-color: green;
}

.dexCover{
   // Style like the cover of the pokedex
   --background: red;
   border-top: 5px solid maroon;
   // border-top-color: maroon, red;

}

.titleCard{
   color: #ffcc01;
   text-shadow: -1px -1px 0 #385ca8, 1px -1px 0 #385ca8, -1px 1px 0 #385ca8, 1px 1px 0 #385ca8;
}

.inputs{
   --background: red;
   --border-color: white;

   --padding-start: 10px;
   --padding-end: 10px;

   color: white;
   font-size: larger;

}

.loginBox{
   // border-top: 5px solid maroon;
   // border-bottom: 5px solid maroon;
   border: 5px double maroon;
}

.centerContent{
   display: flex;
   justify-content: center;
}

.blackText{
   color: black;
}

.whiteText{
   color: white;
}

.goldText{
   color: #ffcc01;
}

.underline{
   text-decoration: underline;
}



