<ion-header [translucent]="true">
   <ion-grid class="headerStyle">
        <ion-row>
             <ion-col class="headerButts">
                  <div class="searchButt"></div>
                  <div class="miniButt logButt whiteText"></div>
                  <div class="miniButt accountButt"></div>
                  <div class="miniButt settingsButt whiteText"></div>
             </ion-col>
             <ion-col size="4"></ion-col>
        </ion-row>
   </ion-grid>
</ion-header>

<ion-content>
   <ion-grid class="centerStage">
      <ion-row>
         <ion-col>
            <ion-button routerLink='/tabs'>Login</ion-button>
         </ion-col>
      </ion-row>
   </ion-grid>
</ion-content>