<ion-header [translucent]="true">
   <ion-grid class="headerStyle">
        <ion-row>
             <ion-col class="headerButts">
                  <div class="searchButt" (click)="close()">
                     <ion-icon name="close-sharp"></ion-icon>
                  </div>
                  <div class="miniButt logButt whiteText"></div>
                  <div class="miniButt accountButt"></div>
                  <div class="miniButt settingsButt whiteText"></div>
             </ion-col>
             <ion-col size="4"></ion-col>
        </ion-row>
   </ion-grid>
</ion-header>

<!-- <ion-grid>
   <ion-row>
      <ion-col class="centerContent">
         <img class="dexSprite" src="assets/wildSprites/{{entryNum}}.png" alt="{{entryName}}">
      </ion-col>
   </ion-row>
   <hr>
   <ion-row>
      <ion-col>
         <p>asdjbinjweifhbwdicwiehfb vkajsbdwnrubisjdxncoaehf</p>
      </ion-col>
   </ion-row>
</ion-grid> -->

