<div *ngIf="wildAppeared === true; else wildButton">
   <ion-row>
      <ion-col></ion-col>
      <ion-col class="pb-0 ">
         <img class="wildSpriteStyle {{animName}}" src="assets/wildSprites/{{wildPokemon.dexNum}}.png" alt="Pikachu">
      </ion-col>
   </ion-row>
   <!-- <ion-row>
      <ion-col class="p-0"></ion-col>
      <ion-col class="p-0">
         <p class="ion-text-center m-0 namePlate">{{wildPokemon.pokemon}}</p>
      </ion-col>
   </ion-row> -->
   <ion-row>
      <ion-col class="p-0">
         <img class="ion-float-left trainerSpriteStyle" src="assets/trainerBack.png" alt="Trainer">
      </ion-col>
   </ion-row>
   <ion-row>
      <ion-col class="p-0">
         <ion-grid class="p-0">
            <ion-row class="battleBox">
               <ion-col>
                  <div>
                     <ion-button (click)="throwBall()" disabled="{{pokeTurn}}" color="warning" expand="block"
                        class="ion-activatable ripple-parent">
                        Ball
                        <ion-ripple-effect></ion-ripple-effect>
                     </ion-button>
                  </div>
                  <div>
                     <ion-button (click)="throwBait()" disabled="{{pokeTurn}}" color="warning" expand="block" class="ion-activatable ripple-parent">
                        Bait
                        <ion-ripple-effect></ion-ripple-effect>
                     </ion-button>
                  </div>
               </ion-col>
               <ion-col>
                  <div>
                     <ion-button (click)="throwRock()" disabled="{{pokeTurn}}" color="warning" expand="block" class="ion-activatable ripple-parent">
                        Rock
                        <ion-ripple-effect></ion-ripple-effect>
                     </ion-button>
                  </div>
                  <div>
                     <ion-button (click)="runAway()" disabled="{{pokeTurn}}" color="warning" expand="block" class="ion-activatable ripple-parent">
                        Run
                        <ion-ripple-effect></ion-ripple-effect>
                     </ion-button>
                  </div>
               </ion-col>
            </ion-row>
         </ion-grid>
      </ion-col>
   </ion-row>
</div>
<ng-template #wildButton>
   <ion-row class="centerStage">
      <ion-col>
         <ion-button (click)="rollWildPokemon()" expand="block" color='warning'>Search!</ion-button>
      </ion-col>
   </ion-row>
</ng-template>