.spriteStyle{
     width: 50%;
     height: auto;
}

.battleBox{
     border: darkgray 2px dashed;
     border-radius: 5px;
     background-color: #0E525C;
     margin-right: .5px;
     margin-left: .5px;
}